body {background-color: green;}
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.title {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header header header header header'
    'menu main main main main main main main main right'
    'menu main main main main main main main main right'
    'menu main main main main main main main main right'
    'menu main main main main main main main main right'
    'menu main main main main main main main main right'
    'menu main main main main main main main main right'
    'menu main main main main main main main main right'
    'menu main main main main main main main main right'
    'menu main main main main main main main main right'
    'menu main main main main main main main main right'
    'menu main main main main main main main main right'
    'menu main main main main main main main main right'
    'menu main main main main main main main main right'
    'menu main main main main main main main main right'
    'menu main main main main main main main main right'
    'menu main main main main main main main main right'
    'menu main main main main main main main main right'
    'menu main main main main main main main main right'
    'menu main main main main main main main main right'
    'menu main main main main main main main main right'
    'menu main main main main main main main main right'
    'menu main main main main main main main main right'
    'footer footer footer footer footer footer footer footer footer footer';
  grid-gap: 2px;
  background-color: lightgrey;
  padding: 4px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 2px 0;
  font-size: 10px;
  font-stretch: condensed;
}


div.grid-item {background-color: darkgray; min-width: 35px;  min-height: 35px;}
div.grid-color-dark {background-color: black; min-width: 35px;  min-height: 35px;}
div.grid-color-grey {background-color: lightgrey; min-width: 35px;  min-height: 35px;}
div.grid-color-brown {background-color: brown; min-width: 35px;  min-height: 35px;}
div.grid-color-red {background-color: red; min-width: 35px;  min-height: 35px;}
div.grid-color-orange {background-color: orange; min-width: 35px;  min-height: 35px;}
div.grid-color-yellow {background-color: yellow; min-width: 35px;  min-height: 35px;}
div.grid-color-green {background-color: green; min-width: 35px;  min-height: 35px;}
div.grid-color-blue {background-color: blue; min-width: 35px;  min-height: 35px;}
div.grid-color-indigo {background-color: indigo; min-width: 35px;  min-height: 35px;}
div.grid-color-purple {background-color: purple; min-width: 35px;  min-height: 35px;}
